* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

:root {
    --primary-color: #0069B3;
    --azul-escuro: #0A446D;
    --vermelho-escuro: #B80000;
    font-size: 62.5%;

    --slides: 5;
    --clones: 3;
    --total-slides: calc(var(--slides) + var(--clones));
    --tempo-por-slide: 10s;
    --tempo-animacao-total: calc(var(--total-slides) * var(--tempo-por-slide));
}

.fundo-azul {
    background-image: url("/img/padrao.png");
    background-repeat: repeat;
    background-color: #0069B3;

}

.corpo-pagina {
    background-color: white;
    margin: 3rem 3rem;
    min-height: calc(100vh - 80px);
    box-shadow: 0 0 15em rgb(0, 0, 0, 0, 1);
}

.topo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.logo-totus {
    width: 15rem;
    height: 15rem;
    margin-right: 5px;

}

.botao-mural {
    width: 15rem;
    background-color: #0A446D;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 70rem;
    font-style: normal;
    border: none;
    padding: 0.7rem 3rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 2rem;
    font-weight: 50rem;
}

.botao-link {
    text-decoration: none;
    color: white;
}

.carrossel {
    width: 80%;
    max-width: 100rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.carrossel__interior {
    width: calc(100%*var(--total-slides));
    display: flex;
}

.carrossel__slide {
    flex-shrink: 0;
}

.carrossel__slide img {
    display: block;
    width: 100%;
    height: auto;
}

@keyframes slide__automatico {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% / 8 * var(--total-slides)));
    }
}

.carrossel__interior {
    animation: slide__automatico var(--tempo-animacao-total) infinite linear;
    animation-play-state: running;
}

.carrossel__interior:hover {
    animation-play-state: paused;
}